

/* ------------------------------------------------------------ */
/* -------------------------- HEADER -------------------------- */
/* ------------------------------------------------------------ */

header{

	background-color: rgba(255, 255, 255, 0.9);
	border-bottom: 2px black solid;

	position: relative;
	display: block;
	top: 0px;

	height: 400px;
	z-index: 100;

}

header em{
	font-style: normal;
	font-weight: 400;
	color: #1EAEDB;
}

@media (min-width: 450px) {header{height: 200px;}}
@media (min-width: 650px) {header{height: 250px;}}
@media (min-width: 750px) {header{height: 300px;}}
@media (min-width: 1000px) {header{height: 400px;}}

header div#mainTitle > h1{ display: none; }

header.stacked{

	height: 80px;
	
	
	
}

header div#mainTitle a{text-decoration: none;}

@media (min-width: 450px) {header.stacked{height: 55px;}}
@media (min-width: 750px) {header.stacked{height: 65px;}}
@media (min-width: 1000px) {header.stacked{height: 80px;}}

header.stacked div#mainTitle > h1{ display: inline-block; }
header.stacked div#mainTitle > p{ display: none; }

div#mainTitle{
	position: absolute;
	left: 0px;
}

div#mainTitle > h1{margin: 0;}


div#mainTitle > p{

	font-size: 4.8rem;
	line-height: 1.2;
	margin: 0;

}

@media (max-width: 500px) {div#mainTitle > p { font-size: 2.0rem; }}
@media (min-width: 500px) {div#mainTitle > p { font-size: 2.6rem; }}
@media (min-width: 650px) {div#mainTitle > p { font-size: 3.2rem; }}
@media (min-width: 750px) {div#mainTitle > p { font-size: 3.8rem; }}
@media (min-width: 960px) {div#mainTitle > p { font-size: 4.8rem; }}



nav{
	position: absolute;
	right: 0px;
	text-align: right;
	font-size: 1.8rem;
}

@media (min-width: 450px) {div#mainTitle, nav{bottom: 8px;}}
@media (min-width: 650px) {div#mainTitle, nav{bottom: 10px;}}
@media (min-width: 750px) {div#mainTitle, nav{bottom: 15px;}}
@media (min-width: 1000px) {div#mainTitle, nav{bottom: 20px;}}

@media (max-width: 750px) {nav{font-size: 1.2rem;}}
@media (min-width: 750px) {nav{font-size: 1.4rem;}}
@media (min-width: 1000px) {nav{font-size: 1.8rem;}}

.firstContent.padded{
	padding-top: 350px !important;
}

.firstContent{
	padding-top: 82px;
}

/* smallest breakpoint */

@media (max-width: 450px) {

	header, 
	header.stacked{
		height: auto;
		padding: 15px 0;
	}

	div#mainTitle, 
	nav{
		float: none;
		position: static;
		display: inline-block;
	}

	nav{
		text-align: left;
		float: none !important;
		margin-top: 0.9rem;
	}


}


/* ------------------------------------------------------------- */
/* -------------------------- LANDING -------------------------- */
/* ------------------------------------------------------------- */


section#workArray{
	padding: 40px 0;
}


div.workThumb{
	margin-bottom: 3.8%;
}

div.workThumb img{
	width: 100%;
}

section#workArray a:hover{
	opacity: 0.75;
}


@media (max-width: 650px) {

	section#workArray .three.columns{
		width: 48%;
		margin-left: 4%; 
	}

	section#workArray .column:first-child,
	section#workArray .columns:first-child,
	section#workArray .column:nth-child(3),
	section#workArray .columns:nth-child(3) {
		margin-left: 0; }

	/*div.workThumb{height: 150px;}*/


}

/* ----------------------------------------------------------- */
/* -------------------------- ABOUT -------------------------- */
/* ----------------------------------------------------------- */

body#about section{

	padding: 4rem 0;

}

body#about p{
	margin-bottom: 0;
}

body#about section#intro p{
	font-size: 2.8rem;
	font-weight: 700;
}

@media (max-width: 550px) {
	body#about section#intro div#photoSpace { width: 48%; float: left; margin-top: 30px;}
}

@media (max-width: 650px) {body#about section#intro p { font-size: 1.8rem; }}
@media (min-width: 650px) {body#about section#intro p { font-size: 1.8rem; }}
@media (min-width: 750px) {body#about section#intro p { font-size: 2.2rem; }}
@media (min-width: 960px) {body#about section#intro p { font-size: 2.8rem; }}

body#about section#secondary p{
	font-size: 2.0rem;
}

@media (max-width: 650px) {
	body#about section#secondary p { font-size: 1.4rem;}
	body#about section#secondary p:first-child {margin-bottom: 15px}
}
@media (min-width: 650px) {body#about section#secondary p { font-size: 1.6rem; }}
@media (min-width: 750px) {body#about section#secondary p { font-size: 1.8rem; }}
@media (min-width: 960px) {body#about section#secondary p { font-size: 2.0rem; }}

body#about section#details{
	font-size: 1.4rem;
	padding-bottom: 120px;
}

@media (min-width: 750px) {body#about section#details { font-size: 1.2rem; }}
@media (min-width: 960px) {body#about section#details { font-size: 1.4rem; }}

body#about section#details li{
	list-style: none;
	margin-bottom: 0;
}

@media (max-width:749px) and (min-width:500px) {
	body#about section#details .three.columns		{ width: 48%;            }
	body#about section#details .column,
	body#about section#details .columns {
		margin-left: 4%; }

	body#about section#details .column:first-child,
	body#about section#details .columns:first-child,
	body#about section#details .column:nth-child(3),
	body#about section#details .columns:nth-child(3) {
		margin-left: 0; }
}

@media (min-width: 750px) {
	body#about section#details .three.columns		{ width: 22%;            }
}

section.splitted{

	border-bottom: 2px solid black;

}


/* ------------------------------------------------------------ */
/* -------------------------- A WORK -------------------------- */
/* ------------------------------------------------------------ */

article#workdescription{
	background-color: rgba(255, 255, 255, 0.8);
	padding-top: 82px;
}

@media (min-width: 500px) {article#workdescription{padding-top: 57px;}}
@media (min-width: 750px) {article#workdescription{padding-top: 67px;}}
@media (min-width: 1000px) {article#workdescription{padding-top: 82px;}}

div#descriptionrow{
	border-bottom: 2px solid black;
	padding: 1.0rem 0;
}

div#descriptionrow #details p{
	font-size: 1.2rem;
}

article#work{
	margin-top: 2.5rem;
}

article#work .row{
	max-width: 1200px; 
	margin-bottom: 2.5rem;
}

article#work .row img{
	max-width: 1200px;
	width: 100%; 
}

section#worknav{
	padding-bottom: 8rem;
}


section#worknav div:last-child{
	text-align: right;
}

/* smallest breakpoint */

@media (max-width: 450px) {

	article#workdescription{
		position: static;
		display: inline-block;
		float: none;
		top: auto;
	}

	section#worknav .six.columns{
		width: 48%;
	}

}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%; }

.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; }


/* ----------------------------------------------------------------- */
/* -------------------------- A BLOG POST -------------------------- */
/* ----------------------------------------------------------------- */

div#content > aside,
div#content > article{
	padding: 3rem 0 0;
}

div#content > aside{
	padding-bottom: 1rem;
}

div#content > article{
	padding-bottom: 6rem;
}


body.post aside{
	border-bottom: 2px solid black;
}

body.post aside li{
	list-style: none;
	margin: 0.5rem 0;
}

body.post aside li:first-child{
	padding-bottom: 1rem;
	margin-bottom: 2rem;
	border-bottom: 2px solid black;
}

body.post aside li:last-child{
	font-size: 1.0rem;
	padding-top: 1rem;
	margin-top: 2rem;
}

/* ------------------------------------------------------------ */
/* -------------------------- FOOTER -------------------------- */
/* ------------------------------------------------------------ */


.footer{

	background-color: rgba(255, 255, 255, 0.8);
	border-top: 2px black solid;

	height: 50px;

	position: fixed;
	display: block;
	bottom: 0px;
	z-index: 99;

	font-size: 1.4rem;

}

.footer .row div{
	padding-top: 14px;
}

@media (max-width: 650px) {
	.footer{height: 30px;font-size: 0.8rem;}
	.footer .row div{padding-top: 7px;}
}
@media (min-width: 650px) {
	.footer{height: 30px;font-size: 1.0rem;}
	.footer .row div{padding-top: 7px;}
}
@media (min-width: 750px) {
	.footer{height: 40px;font-size: 1.2rem;}
	.footer .row div{padding-top: 10px;}
}

.footer #legal{text-align: right;}

/* smallest breakpoint */

@media (max-width: 550px) {

	.footer{

		width: 100%;

		float: none;
		position: static;
		display: inline-block;

		height: auto;
		padding: 0.8rem 0;

	}

	.footer #legal{text-align: left;}

}
