

/* ------------------------------------------------------------ */
/* -------------------------- HEADER -------------------------- */
/* ------------------------------------------------------------ */

header{

	background-color: rgba(255, 255, 255, 0.8);
	border-bottom: 2px black solid;

	position: relative !important;
	display: block !important;
	top: 0px !important;

	height: 400px;
	z-index: 100;

}

header em{
	font-style: normal;
	font-weight: 400;
	color: #1EAEDB;
}

@media (min-width: 500px) {header{height: 200px;}}
@media (min-width: 650px) {header{height: 250px;}}
@media (min-width: 750px) {header{height: 300px;}}
@media (min-width: 1000px) {header{height: 400px;}}

header div#mainTitle > h1{ display: none; }

header.stacked{

	height: 80px;

	position: fixed !important;
	display: block !important;
	max-width: 1200px !important;
	top: 0px !important;
	
}



@media (min-width: 500px) {header.stacked{height: 55px;}}
@media (min-width: 750px) {header.stacked{height: 65px;}}
@media (min-width: 1000px) {header.stacked{height: 80px;}}

header.stacked div#mainTitle > h1{ display: inline-block; }
header.stacked div#mainTitle > p{ display: none; }

div#mainTitle{
	position: absolute;
	left: 0px;
}

div#mainTitle > h1{margin: 0;}


div#mainTitle > p{

	font-size: 4.8rem;
	line-height: 1.2;
	margin: 0;

}

@media (max-width: 650px) {div#mainTitle > p { font-size: 2.6rem; }}
@media (min-width: 650px) {div#mainTitle > p { font-size: 3.2rem; }}
@media (min-width: 750px) {div#mainTitle > p { font-size: 3.8rem; }}
@media (min-width: 960px) {div#mainTitle > p { font-size: 4.8rem; }}



nav{
	position: absolute;
	right: 0px;
	text-align: right;
	font-size: 1.8rem;
}

@media (min-width: 500px) {div#mainTitle, nav{bottom: 8px;}}
@media (min-width: 650px) {div#mainTitle, nav{bottom: 10px;}}
@media (min-width: 750px) {div#mainTitle, nav{bottom: 15px;}}
@media (min-width: 1000px) {div#mainTitle, nav{bottom: 20px;}}

@media (min-width: 500px) {nav{font-size: 1.2rem;}}
@media (min-width: 750px) {nav{font-size: 1.4rem;}}
@media (min-width: 1000px) {nav{font-size: 1.8rem;}}

.firstContent.padded{
	padding-top: 350px !important;
}


/* ------------------------------------------------------------- */
/* -------------------------- LANDING -------------------------- */
/* ------------------------------------------------------------- */


section#workArray{
	padding: 40px 0;
}


div.workThumb{
	height: 200px;
	margin-bottom: 3.8%;

	background-color: red;
}

@media (max-width: 400px) {div.workThumb{height: 300px;}}
@media (min-width: 400px) {div.workThumb{height: 70px;}}
@media (min-width: 650px) {div.workThumb{height: 110px;}}
@media (min-width: 950px) {div.workThumb{height: 140px;}}
@media (min-width: 1200px) {div.workThumb{height: 200px;}}


/* ----------------------------------------------------------- */
/* -------------------------- ABOUT -------------------------- */
/* ----------------------------------------------------------- */

body#about section{

	padding: 4rem 0;

}

body#about p{
	margin-bottom: 0;
}

body#about section#intro p{
	font-size: 2.8rem;
	font-weight: 700;
}

@media (max-width: 650px) {body#about section#intro p { font-size: 1.8rem; }}
@media (min-width: 650px) {body#about section#intro p { font-size: 1.8rem; }}
@media (min-width: 750px) {body#about section#intro p { font-size: 2.2rem; }}
@media (min-width: 960px) {body#about section#intro p { font-size: 2.8rem; }}

body#about section#secondary p{
	font-size: 2.0rem;
}

@media (max-width: 650px) {
	body#about section#secondary p { font-size: 1.4rem;}
	body#about section#secondary p:first-child {margin-bottom: 15px}
}
@media (min-width: 650px) {body#about section#secondary p { font-size: 1.6rem; }}
@media (min-width: 750px) {body#about section#secondary p { font-size: 1.8rem; }}
@media (min-width: 960px) {body#about section#secondary p { font-size: 2.0rem; }}

body#about section#details{
	font-size: 1.4rem;
	padding-bottom: 120px;
}

@media (min-width: 750px) {body#about section#details { font-size: 1.2rem; }}
@media (min-width: 960px) {body#about section#details { font-size: 1.4rem; }}

body#about section#details li{
	list-style: none;
	margin-bottom: 0;
}

@media (max-width:749px) and (min-width:500px) {
	body#about section#details .three.columns		{ width: 48%;            }
	body#about section#details .column,
	body#about section#details .columns {
		margin-left: 4%; }

	body#about section#details .column:first-child,
	body#about section#details .columns:first-child,
	body#about section#details .column:nth-child(3),
	body#about section#details .columns:nth-child(3) {
		margin-left: 0; }
}

@media (min-width: 750px) {
	body#about section#details .three.columns		{ width: 22%;            }
}

section.splitted{

	border-bottom: 2px solid black;

}


/* ------------------------------------------------------------ */
/* -------------------------- FOOTER -------------------------- */
/* ------------------------------------------------------------ */


footer{

	background-color: rgba(255, 255, 255, 0.8);
	border-top: 2px black solid;

	height: 50px;

	position: fixed !important;
	display: block !important;
	bottom: 0px !important;
	z-index: 99;

	font-size: 1.4rem;

}

footer .row div{
	padding-top: 14px;
}

@media (max-width: 650px) {
	footer{height: 30px;font-size: 0.8rem;}
	footer .row div{padding-top: 7px;}
}
@media (min-width: 650px) {
	footer{height: 30px;font-size: 1.0rem;}
	footer .row div{padding-top: 7px;}
}
@media (min-width: 750px) {
	footer{height: 40px;font-size: 1.2rem;}
	footer .row div{padding-top: 10px;}
}
@media (min-width: 950px) {
	footer{height: 50px;font-size: 1.4rem;}
	footer .row div{padding-top: 14px;}
}

footer #legal{

	text-align: right;

}
